{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>CodeEditor</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#main{
    display: flex;
    width: 100%;
    height:90%;
    background-color: black;
}

#left{
    padding: 10px;
    width: 50%;
    height:100%;
    background-color: rgb(233, 225, 225);
    overflow-y: auto;
}

#right{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: royalblue;
}

#out{
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    height:15%;
    background-color: rgb(233, 236, 239);
    border: 3px solid black;
    overflow-y: auto;
}

#editor{
    width: 100%;
    height:80%;
    background-color: seagreen;
}

#codeEditor{
    width: 100%;
    padding: 20px;

}


textarea
{
  width: 100%;
  height: 100px;
  tab-size: 4;
}

#raw{
  display: flex;
    color: rgb(10, 10, 10);
    width: 100%;
    height: 50%;
    padding-top: 5px;
    border: 2px solid black;
    size-adjust: auto;
}

#button{
    position: absolute;
    bottom: 15%;
    right: 10px;
}

#dropdown{
    position: absolute;
}
</style>

<body>
  <div id="main">
    <div id="left">
      <div class="alert alert-info" role="alert">
        <h1>Problem Description</h1>
      </div>
      <h1>{{ title }}</h1>
      <pre>{{ description|safe }}</pre>
    </div>
    <div id="right">
      <div id="editor">
        <!-- Example split danger button -->
        <div id="dropdown" class="btn-group">
          <button type="button" class="btn btn-info" style="margin-left: 5px; height: 4vh; background-color: rgb(6, 69, 129); color: aliceblue;">Python</button>
          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" style="height: 4vh; background-color: rgb(6, 69, 129); color: aliceblue;" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" style="background-color: rgb(5, 42, 75);">
            <li><a class="dropdown-item" style="color: aliceblue;" href="#">Python</a></li>
            <li><a class="dropdown-item" style="color: aliceblue;" href="#">C++</a></li>
            <li><a class="dropdown-item" style="color: aliceblue;" href="#">JAVA</a></li>
            <li><a class="dropdown-item" style="color: aliceblue;" href="#">Java Script</a></li>
          </ul>
        </div>
        <textarea id="codeEditor" class="col-5" style="height: 80vh; border: 1px solid black; margin-left: 0px; padding-top: 50px; overflow-y: auto; resize: auto;" name="code">
          {{ exist.code }}{{ starter }}
        </textarea>
      </div>
      <div id="button">
        <button id="btn1" type="button" class="btn btn-primary" style="width: 12vb; height: 5vh;">Run</button>
        <button id="btn2" type="button" class="btn btn-primary" style="width: 12vb; height: 5vh;">Submit</button>
      </div>
      <div id="out">Outpput:</div>
    </div>
  </div>
  <div id="raw"><b>Raw:</b></div>
  
  
</body>
<script>
    

    $(document).ready(function() {
      // Tab key functionality
      document.getElementById('codeEditor').addEventListener('keydown', function(e) {
        if (e.key == 'Tab') {
          e.preventDefault();
          var start = this.selectionStart;
          var end = this.selectionEnd;

          // set textarea value to: text before caret + tab + text after caret
          this.value = this.value.substring(0, start) +
            "\t" + this.value.substring(end);

          // put caret at right position again
          this.selectionStart =
            this.selectionEnd = start + 1;
        }
      });



      $("#btn1").click(function(event) {
            var data = encodeURIComponent(document.getElementById('codeEditor').value);
            console.log(data)
            document.getElementById("out").innerHTML = "<h1>Loading...</h1>"
            $.ajax({
                url: `/compile/?code=${data}&problem={{ id }}&token={{ token }}`,
                type: "get",
                processData: false,
                contentType: false,
                success: function(data) {
                    
                    document.getElementById("out").innerHTML = "<h4>Output</h4>"
                    var errors = data["error"]
                    var stdout = data["stdout"]
                    //updated Raw uotput
                    var output1 = document.getElementById("raw")
                    output1.appendChild(document.createTextNode(stdout["global"]))
                    
                    var output = document.getElementById("out")
                    for (let key in errors) {
                        var div = document.createElement("DIV")
                        if (errors[key] != "passed") {
                            div.innerHTML = `<br><p style="color: red;">${errors[key]}</p><br>`
                        } else {
                            div.innerHTML = `<p style="color: green;">Test Case ${key}</p> - <p style="color: green">${errors[key]}</p>`
                        }
                        output.appendChild(div);
                    }
                },
                error: function(xhr) {
                    document.getElementById("out").innerHTML += "<br><h1>Oops, there's an error. Please try to refresh to see if it would work, otherwise please report a bug report. Sorry for the inconvenience</h1>"
                    console.log("error" + xhr.status);
                }
            })
        });

        $("#btn2").click(function(event) {
            var data = encodeURIComponent(document.getElementById('codeEditor').value);
            document.getElementById("out").innerHTML = "<h1>Loading...</h1>"
            $.ajax({
                url: `/compile/?code=${data}&problem={{ id }}&token={{ token }}`,
                type: "get",
                processData: false,
                contentType: false,
                success: function(data) {
                    document.getElementById("out").innerHTML = "<h1>Output</h1>"
                    var errors = data["error"]
                    var input = data["input"]
                    var output = document.getElementById("out");
                    var passed = true
                    for (let key in errors) {
                        if (errors[key] != "passed") {
                            output.innerHTML = "<p style='color: red;'>You didn't pass at least 1 test, click run code button to check your output.</p>"
                            passed = false
                        }
                    }
                    if (passed === true) {
                        output.innerHTML = "<p style='color: green;'>Congratulation on finishing this problem!</p>"
                    }
                },
                error: function(xhr) {
                    document.getElementById("out").innerHTML += "<br><h1>Oops, there's an error. Please try to refresh to see if it would work, otherwise please report a bug report. Sorry for the inconvenience</h1>"
                    console.log("error" + xhr.status);
                }
            })
      });

      });

</script>
</html>